<div class="container">
  <div class="row mb-3 mt-3 text-center">
    <div class="col-12">
      <h2>Emoji Copier ✨</h2>
    </div>
  </div>

  <div class="row mb-1">
    <div class="col-12 text-center">
      <button
        type="button"
        class="btn btn-sm btn-light mr-1 mb-2"
        (click)="setDarkMode(undefined)"
        [class.active]="darkestMode === undefined"
      >
        auto
      </button>
      <button
        type="button"
        class="btn btn-sm btn-light mr-1 mb-2"
        (click)="setDarkMode(true)"
        [class.active]="darkestMode === true"
      >
        dark
      </button>
      <button
        type="button"
        class="btn btn-sm btn-light mr-1 mb-2"
        (click)="setDarkMode(false)"
        [class.active]="darkestMode === false"
      >
        light
      </button>
    </div>
  </div>

  <div class="row justify-content-center mb-3">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <emoji-mart
          [set]="set"
          [darkMode]="darkMode"
          [isNative]="native"
          [hideRecent]="false"
          (emojiSelect)="handleClick($event)"
          title="Pick your emoji…"
          emoji="point_up"
        >
        </emoji-mart>
      </div>
    </div>
  </div>
</div>

<app-snackbar></app-snackbar>
